# ================================
# Java / Spring Boot / Maven
# ================================

# Compiled class files
*.class

# Maven target directory
/target/

# Logs
*.log
/logs/
/tmp/

# OS files
.DS_Store
Thumbs.db

# IntelliJ IDEA
.idea/
*.iml
out/

# Eclipse
.project
.classpath
.settings/

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

# H2 database files
/data/
*.mv.db
*.trace.db

# Environment files
.env
*.properties.local
application-local.properties
